<h1>Edit Article</h1>

<%= form_with model: @article , local: true  do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
